/* Tooltips Settings */
.cCtooltip {
    position: relative;
    display: inline-block;
}
.cCtooltip .cCtooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    word-wrap: break-word;
    display: inline-block;
}
.cCtooltip .cCtooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.cCtooltip:hover .cCtooltiptext {
    visibility: visible;
    opacity: 1;
}
